@using StackExchange.Profiling;

<!-- Country Selection Begin -->
<section class="reveal-modal medium" id="selectCountry">
</section>
<!-- Country Selection End-->
@{Html.RenderAction("BrandNavigation", "GlobalNavigation", new { area = "Homepages", isMobile = true });}
<div class="bottomMenu" id="explore">
	<div class="scroller">
		@Html.Action("Index", "DeepLinks", new { area = "DeepLinks" })
	</div>
</div>
<div class="bottomMenu" id="studio">

</div>
<div class="bottomMenu" id="deepLinks">
	<div class="scroller">

		<!-- <div class="inspirationCategories">
			<div class="intro section">
				<h2>Inspire</h2>
				<p>Welcome to the Harlequin Inspirations Pages, a showcase of the most aspirational looks, which we hope will enthuse, encourage and ignite you. We’ve spent hours agonizing about which images to leave in – and, indeed, whether we could bear to leave any out, so we hope you’ll be suitably inspired by the selection we’ve put together just for you!</p>
			</div>
			@{Html.RenderAction("Footer", "Inspirations", new { area = "Inspirations" });}
		</div> -->
	</div>
</div>
<div class="bottomMenu" id="featured">
	@{Html.RenderAction("FeaturedContent", "Featured", new { area = "Featured" });}
</div>

@Html.Action("RecentlyViewedProducts", "WgShop", new { area = "CustomShops" })

<div id="map_content">
	<a class="closeMaps button">Close Maps</a>
	<div id="map_canvas"></div>
</div>
@Html.Action("Footer", "Stockist", new { area = "Stockists" })
<div id="cookiePolicy">
	<a href="/privacy-policy/" title="Privacy policy">
		<h2>Privacy Policy & Cookies</h2>
	</a>
	<p>This website uses cookies to provide you with the best possible user experience. </p>
	<p><a href="/privacy-policy/" title="Privacy Policy">Read more</a></p>
	<a id="cookieClose" class="icon-remove" href="#">Close</a>
</div>
<a class="back-to-top icon icon-arrow-up" href="#top"><span>Back to top</span></a>
<div id="corporateInfo">
	<div class="footerInner">
		<p class="copyright">&copy; Style Library Contract&nbsp;@DateTime.UtcNow.Year - Style Library Contract is a Trading Division of Abaris Holdings Limited, Company No. 1167325. A Company Registered in England &amp; Wales.</p>
		<ul class="ulInline">
			<li><a href="/about/" class="">About Us</a></li>
			<li><a href="/contact-us/" class="">Contact Us</a></li>
			<li><a href="/jobs/" class="">Careers</a></li>
			<li><a href="/accessibility/" class="">Accessibility</a></li>
			<li><a href="/terms-and-conditions/" class="">Terms & Conditions</a></li>
			<li><a href="/trade/" class="">Trade Area</a></li>
			@*<li><a href="/press/" class="">Press Area</a></li>*@
			<li><a href="/brochures/" class="">Download Brochures</a></li>
		</ul>
	</div>
</div>
<ul class="mobileCorporateMenu mobMoreInfo">
	<li><p class="copyright">&copy; Style Library Contract&nbsp;@DateTime.UtcNow.Year - Style Library Contract is a Trading Division of Abaris Holdings Limited, Company No. 1167325. A Company Registered in England &amp; Wales.</p></li>
	<li><a href="/about/" class=""><span class="icon-angle-right">ABOUT US</span></a></li>
	<li><a href="/contact-us/" class=""><span class="icon-angle-right">CONTACT US</span></a></li>
	<li><a href="/jobs/" class=""><span class="icon-angle-right">CAREERS</span></a></li>
	<li><a href="/accessibility/" class=""><span class="icon-angle-right">ACCESSIBILITY</span></a></li>
	<li><a href="/terms-and-conditions/" class=""><span class="icon-angle-right">TERMS &amp; CONDITIONS</span></a></li>
	<li><a href="/trade/" class=""><span class="icon-angle-right">TRADE AREA</span></a></li>
	@*<li><a href="/press/" class=""><span class="icon-angle-right">PRESS AREA</span></a></li>*@
	<li><a href="/brochures/" class=""><span class="icon-angle-right">TRADE AREA</span></a></li>
</ul>

<footer id="footer">
<div class="socialFooter">
    <a target="_blank" href="https://www.linkedin.com/company/stylelibrarycontract">
        <li class="footerLinkedIn"></li>
    </a>
    <a href="/Twitter-Hub">
        <li class="footerTwitter"></li>
    </a>
    <a href="/Instagram-Hub">
        <li class="footerInstagram"></li>
    </a>
    <a href="/Pinterest-Hub">
        <li class="footerPinterest"></li>
    </a>
</div>
	<div class="footerInner">
		<ul class="footerToggles corporateToggle left">
			<li><a href="#" class="toggleMoreInfo"><span><b class="icon-caret-up"></b>More</span></a></li>
		</ul>
		<a href="#" class="toggleMoreInfoMob"><span><b class="icon-caret-up"></b>More</span></a>
		<a href="#" class="toggle"><span>Footer Toggle</span></a>
		<ul class="footerToggles long">
			<li><a href="#" class="toggleExplore"><span>Explore</span></a></li>
			@*<li><a href="/inspirations" class="toggleInspire"><span>Inspire</span></a></li>*@
			@*<li><a href="#" class="toggleScrapbook"><span>Scrapbook</span></a></li>*@
			<li><a href="#" class="toggleRecent"><span>Recently Viewed</span></a></li>
			<li><a href="/stockists" class="toggleStockist"><span>Where to Buy</span></a></li>
			<li><a href="#" class="toggleFeatured"><span>Highlights</span></a></li>
		</ul>
		<ul class="footerToggles short">
			<li><a href="#" class="toggleExplore"><span>Explore</span></a></li>
			@*<li><a href="/inspirations" class="toggleInspire"><span>Inspire</span></a></li>*@
			@*<li><a href="#" class="toggleScrapbook"><span>Scrapbook</span></a></li>*@
			<li><a href="#" class="toggleRecent"><span>Recent</span></a></li>
			<li><a href="/stockists" class="toggleStockist"><span>Where to Buy</span></a></li>
			<li><a href="#" class="toggleFeatured"><span>Highlights</span></a></li>
		</ul>

	</div>
</footer>

@Scripts.Render("~/_js/bundle")


@*<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js" type="text/javascript"></script>*@
@if (WalkerGreenbank.Modules.PressMembers.Areas.B2BMembers.B2BCheckoutService.IsB2BUserLoggedIn(new HttpContextWrapper(HttpContext.Current)))
{
    <script src="~/_js/shared/b2b.js?v=3"></script>
}
@if (HttpContext.Current.IsDebuggingEnabled)
{
	@MiniProfiler.RenderIncludes()
}
<script>
    $(document).foundation();
</script>
<script type="text/javascript">
    var MTIProjectId = '12f9cc66-8fc6-40a3-bd8a-050837a8d95b';
    (function () {
        var mtiTracking = document.createElement('script');
        mtiTracking.type = 'text/javascript';
        mtiTracking.async = 'true';
        mtiTracking.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//fast.fonts.net/t/trackingCode.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mtiTracking);
    })();
</script>
<script type="text/javascript">
    if (navigator.userAgent.indexOf('Mac OS X') != -1) {
        document.write('<link rel="stylesheet" type="text/css" href="/_css/brands/mac.css" />');
    }

    $(document).ready(function () {
        $('.sl-share-modal').hide();

        $('.toggleOptions').click(function () {
            var text = $(this).text();
            $(".furniture-option").toggle();
            $(this).toggleClass('fa-angle-down');
            $(this).toggleClass('fa-angle-up');
            $(this).text(text == "Show Less options" ? "Show More options" : "Show Less options");
        });


        //Toggle selected paint chart
        $('.sl-modal-image-option').click(function () {
            $(this).toggleClass("selected");
        });


        // var test = $('.sl-items-container[data-value="otherColours"] .sl-item').length;
        if ($('.sl-items-container[data-value="otherColours"] .sl-item').length < 10) {
            $(".toggleColours").hide();
        }


        // Get the modal
        var modal = document.getElementById('sl-modal');

        // When the user clicks on the button, open the modal
        $('.sl-trigger-modal').click(function () {
            $('#sl-modal').show();
        });

        // When the user clicks on <span> (x), close the modal
        $('.sl-close').click(function () {
            $('#sl-modal').hide();
            $('#WallpaperCalculatorModal').hide();
            $('#PaintCalculatorModal').hide();
            $('.sl-paintchart-modal').hide();
            $('.sl-share-modal').hide();
        });

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target === modal) {
                modal.style.display = "none";
            }
        }

        // Paint Chart Modal
        $('.sl-trigger-paintchart').click(function () {
            //$('.sl-modal-popup').hide();
            $('.sl-paintchart-modal').show();
        });

    });
</script>

@*<script type="text/javascript">
	$(window).load(function(){
		$('.freetile').freetile({
			animate: true,
			elementDelay: 20
		});
	});
</script>*@

@*@Html.Partial("~/Templates/_TimeTravelNotice.cshtml")*@
@Html.Hidden("SiteKey", Colony.CMS.ColonyContext.Current.CurrentSite.SiteKey, new { id = "SiteKey" })
