@using StackExchange.Profiling;
<!-- Country Selection Begin -->
<section class="reveal-modal medium" id="selectCountry">
</section>
<!-- Country Selection End-->
<div id="newsLetter-registration-modal" style="display: none;">
    <div id="newsletter-inner">
       
        <a class="close-newsletter pull-right">
            <img id="newsletterClose" src="~/_assets/icons/close-button-morris.png" />
        </a>
        <h2>Sign up for the newsletter</h2>
        <p>Keep up to date with new collections and offers</p>
        <div id="submit-input-newsletter">
            <input id="Person_Email" name="Person.Email" type="text" placeholder="name@email.com">
            <button id="newsletterSubmitButton" class="button pull-right">Sign-up</button>
        </div>
        <span id="newsletterError" style="color: white; font-size: small;"></span>
    </div>
</div>


@{Html.RenderAction("BrandNavigation", "GlobalNavigation", new { area = "Homepages", isMobile = true });}
<div class="bottomMenu" id="explore">
	<div class="scroller">
		@Html.Action("Index", "DeepLinks", new { area = "DeepLinks" })
	</div>
</div>
<div class="bottomMenu" id="studio">
	
</div>
<div class="bottomMenu" id="deepLinks"> 
	<div class="scroller">

		<div class="inspirationCategories">
			<div class="intro section">
				<h2>Inspire</h2>
				<p>Welcome to the Harlequin Inspirations Pages, a showcase of the most aspirational looks, which we hope will enthuse, encourage and ignite you. We’ve spent hours agonizing about which images to leave in – and, indeed, whether we could bear to leave any out, so we hope you’ll be suitably inspired by the selection we’ve put together just for you!</p>
			</div>
			@{Html.RenderAction("Footer", "Inspirations", new { area = "Inspirations" });}
		</div>
	</div>
</div>
<div class="bottomMenu" id="featured">
	@{Html.RenderAction("FeaturedContent", "Featured", new { area = "Featured" });}
</div>
<div class="bottomMenu" id="recentlyViewed">

</div>

<div id="map_content">
	<a class="closeMaps button">Close Maps</a>
	<div id="map_canvas"></div>
</div>
@Html.Action("Footer", "Stockist", new { area = "Stockists" })
<div id="cookiePolicy" >
	<a href="/privacy-policy/" title="Privacy policy">
		<h2>Privacy Policy & Cookies</h2>
	</a>
	<p>This website uses cookies to provide you with the best possible user experience. </p>
	<p><a href="/privacy-policy/" title="Privacy Policy">Read more</a></p>
	<a id="cookieClose" class="icon-remove" href="#">Close</a>
</div>
<a class="back-to-top icon icon-arrow-up" href="#top"><span>Back to top</span></a>
<div id="corporateInfo">
	<div class="footerInner">
		<p class="copyright">&copy; morris &amp; co.&nbsp;@DateTime.UtcNow.Year - Morris &amp; Co. is A Trading Division of Abaris Holdings Limited, Company No. 1167325. A Company Registered in England &amp; Wales.</p>
		<ul class="ulInline">
			<li><a href="/about/" class="">About Us</a></li>
			<li><a href="/contact-us/" class="">Contact Us</a></li>
			<li><a href="/jobs/" class="">Careers</a></li>
			<li><a href="/accessibility/" class="">Accessibility</a></li>
			<li><a href="/terms-and-conditions/" class="">Terms & Conditions</a></li>
			<li><a href="/trade/" class="">Trade Area</a></li>
			<li><a href="/press/" class="">Press Area</a></li>
			<li><a href="/brochures/" class="">Download Brochures</a></li>
		</ul>
	</div>
</div>

<ul class="mobileCorporateMenu mobMoreInfo">
	<li><p class="copyright">&copy; morris &amp; co.&nbsp;@DateTime.UtcNow.Year - Morris &amp; Co. is A Trading Division of Abaris Holdings Limited, Company No. 1167325. A Company Registered in England &amp; Wales.</p></li>
	<li><a href="/about/" class=""><span class="icon-angle-right">ABOUT US</span></a></li>
	<li><a href="/contact-us/" class=""><span class="icon-angle-right">CONTACT US</span></a></li>
	<li><a href="/jobs/" class=""><span class="icon-angle-right">CAREERS</span></a></li>
	<li><a href="/accessibility/" class=""><span class="icon-angle-right">ACCESSIBILITY</span></a></li>
	<li><a href="/terms-and-conditions/" class=""><span class="icon-angle-right">TERMS &amp; CONDITIONS</span></a></li>
	<li><a href="/trade/" class=""><span class="icon-angle-right">TRADE AREA</span></a></li>
	<li><a href="/press/" class=""><span class="icon-angle-right">PRESS AREA</span></a></li>
	<li><a href="/brochures/" class=""><span class="icon-angle-right">TRADE AREA</span></a></li>
</ul>


<footer id="footer">
<div class="socialFooter">
    <a target="_blank" href="https://www.facebook.com/WilliamMorrisandCo">
        <li class="footerFacebook"></li>
    </a>
    <a target="_blank" href="https://twitter.com/WMorrisandCo">
        <li class="footerTwitter"></li>
    </a>
    <a target="_blank" href="https://www.pinterest.com/MorrisandCo/">
        <li class="footerPinterest"></li>
    </a>
</div>
	<div class="footerInner">
		<ul class="footerToggles corporateToggle left">
			<li><a href="#" class="toggleMoreInfo"><span><b class="icon-caret-up"></b>More</span></a></li>
		</ul>
		<a href="#" class="toggleMoreInfoMob"><span><b class="icon-caret-up"></b>More</span></a>
		<a href="#" class="toggle"><span>Footer Toggle</span></a>
		<ul class="footerToggles long">
			<li><a href="#" class="toggleExplore"><span>Explore</span></a></li>
			<li><a href="/inspirations" class=""><span>Inspire</span></a></li>
			<li><a href="#" class="toggleScrapbook"><span>Scrapbook</span></a></li>
			<li><a href="#" class="toggleRecent"><span>Recently Viewed</span></a></li>
			<li><a href="/stockists" class="toggleStockist"><span>Where to Buy</span></a></li>
			<li><a href="#" class="toggleFeatured"><span>Featured</span></a></li>
		</ul>
		<ul class="footerToggles short">
			<li><a href="#" class="toggleExplore"><span>Explore</span></a></li>
			<li><a href="/inspirations" class=""><span>Inspire</span></a></li>
			<li><a href="#" class="toggleScrapbook"><span>Scrapbook</span></a></li>
			<li><a href="#" class="toggleRecent"><span>Recent</span></a></li>
			<li><a href="/stockists" class="toggleStockist"><span>Where to Buy</span></a></li>
			<li><a href="#" class="toggleFeatured"><span>Featured</span></a></li>
		</ul>

	</div>
</footer>

@Scripts.Render("~/_js/bundle")
<script src="~/_js/vendor/jquery.blockUI.js"></script>
<script src="~/_js/brands/morris/morrisNewsletter.js"></script>
<script src="~/_js/shared/newsletterSignUp.js"></script>

@if (Request.RawUrl == "/" || Request.RawUrl == "/?act=ssocomplete")
{ 	
<script type="text/javascript">
	if (!Redant.util.browser.isMobile()) {
		_.templateSettings.variable = "rc";

		document.ontouchmove = function (event) { return false;}

		var homepageData = null;
		var template = null;
        
		function getData() {
		    var def = new $.Deferred();

		    $.when(getTemplate(), getHomepageData())
            .done(function (tmpl, homedata) {
                homepageData = homedata[0];
                template = _.template(tmpl[0]);
                def.resolve({ template: template, homepageData: homepageData });
            });

		    return def.promise();
        }

		function getHomepageData() {
		    return $.ajax({
		        url: 'homepages/homepage/data',
		        type: 'GET',
		        dataType: 'json'
		    });
		}

		function getTemplate() {
		    return $.ajax({
		        url: '/_js/template/morris.html',
		        type: 'GET',
		        dataType: 'html'
		    });
		}

		function render(clickedElement) {
		    var def = new $.Deferred();
		    if (homepageData == null || template == null) {
		        $.when(getData()).done(function (data) {
		            renderInner(clickedElement);
		            def.resolve();
		        });
		    }
		    else {
		        renderInner(clickedElement);
		        def.resolve();
		    }
		    return def.promise();
		}		
		function renderInner(clickedElement) {
		    var $clickedElement = $(clickedElement);
		    var itemId = $clickedElement.data('itemid');
		    console.log(itemId);
		    var jsonObject = _.findWhere(homepageData, {Id: itemId});
		    if (jsonObject != null && jsonObject != undefined) {
		        var html = template({ item: jsonObject });
		        $clickedElement.after(html);
		    }
		}
	}

</script>
}
@*@if (Request.Url.AbsolutePath == "/" && Colony.CMS.Helpers.DeviceDetectionHelpers.IsTablet(ViewContext.HttpContext))
{ 
	<script src="/_js/brands/morris/ipad.min.js" type="text/javascript"></script>
}
else if (Request.Url.AbsolutePath == "/" && !Colony.CMS.Helpers.DeviceDetectionHelpers.IsMobile(ViewContext.HttpContext))
{ 
	<script src="/_js/brands/morris/desktop.min.js" type="text/javascript"></script>
}*@

@if (HttpContext.Current.IsDebuggingEnabled) { 
	@MiniProfiler.RenderIncludes()
}

@if (WalkerGreenbank.Modules.PressMembers.Areas.B2BMembers.B2BCheckoutService.IsB2BUserLoggedIn(new HttpContextWrapper(HttpContext.Current)))
{ 
    <script src="~/_js/shared/b2b.js?v=1"></script>
}

<script>
	$(document).foundation();
</script>
<script type="text/javascript">
	var MTIProjectId = '12f9cc66-8fc6-40a3-bd8a-050837a8d95b';
	(function () {
		var mtiTracking = document.createElement('script');
		mtiTracking.type = 'text/javascript';
		mtiTracking.async = 'true';
		mtiTracking.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//fast.fonts.net/t/trackingCode.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mtiTracking);
	})();
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".closeMaps").click(function () {
            $("#whereToBuy").hide();
        });
        
        if (window.location.pathname == '/') {
            $(".toggleStockist").removeClass("toggleStockist");
            $(".desktopStockist").attr('href', '/stockists');
        }
    });
</script>

@Html.Partial("~/Templates/_TimeTravelNotice.cshtml")
@Html.Hidden("SiteKey", Colony.CMS.ColonyContext.Current.CurrentSite.SiteKey, new { id = "SiteKey" })