@model Colony.Commerce.PaymentProvider.DataCash.Models.PaymentViewModel
@{
    ViewBag.Title = "Secure Payment";
}
@using (Html.BeginForm())
{
    <iframe src="@Model.HccSessionUrl" id="hccIFrame" style="height: 600px; overflow: auto; width: 100%;" frameborder="0" title="Payment Details"></iframe>
@*<fieldset>
                <legend>Payment Details</legend>
                @Html.EditorFor(model => model.CardholderName)
                @Html.EditorFor(model => model.CardNumber)
                @Html.EditorFor(model => model.IssueNumber, new { @size = "medium" })
                @Html.EditorFor(model => model.Cv2, new { @size = "medium" })
                @Html.EditorFor(model => model.StartDate)
                @Html.EditorFor(model => model.ExpiryDate)
            </fieldset>*@

@*<div class="field formControls">
                <button class="button"><span>Make Secure Payment</span></button>
            </div>*@
}