@using Colony.Util.Web
@model Colony.Commerce.Areas.ShopPurchase.Models.AbandonedBasketViewModel

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Basket Abandonment</title>
    <meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type"/>
</head>
<body style="background-color: #ffffff;">
<table cellspacing="0" border="0" style="background: #ffffff;" cellpadding="0" width="100%">
    <tr>
        <td>
            <table width="588" cellspacing="0" border="0" cellpadding="0" align="center">

                <tr>
                    <td valign="bottom">
                        <table width="588" cellspacing="0" border="0" cellpadding="0" align="center">
                            <tr>
                                <td width="177">
                                    <img style="border: none; display: block;" src="@UriExtensions.AbsoluteUrl("/_email/basket-abandonment/style-library/images/header-logo.gif")" border="0" height="84" width="177" alt="Style library"/>
                                </td>

                                <td valign="bottom" width="411">
                                    <table width="100%" cellspacing="0" border="0" cellpadding="0">
                                        <tr>
                                            <td width="144">&nbsp;</td>
                                            <td align="right" width="69">
                                                <a href="@UriExtensions.AbsoluteUrl("/search/?SelectedProductGroups=138#keywords=&sortBy=&page=&categoryId=&categoryName=&brand=&SelectedColours=&SelectedProductGroups=138&SortBy=undefined")">
                                                    <img style="border: none; display: block;" src="@UriExtensions.AbsoluteUrl("/_email/basket-abandonment/style-library/images/button-fabric.gif")" border="0" width="69" height="33" alt="Fabric"/>
                                                </a>
                                            </td>
                                            <td align="right" width="100">
                                                <a href="@UriExtensions.AbsoluteUrl("/search/?SelectedProductGroups=142#keywords=&sortBy=&page=&categoryId=&categoryName=&brand=&SelectedColours=&SelectedProductGroups=142&SortBy=undefined")">
                                                    <img style="border: none; display: block;" src="@UriExtensions.AbsoluteUrl("/_email/basket-abandonment/style-library/images/button-wallpaper.gif")" border="0" width="100" height="33" alt="Wallpaper"/>
                                                </a>
                                            </td>
                                            <td align="right" width="98">
                                                <a href="@UriExtensions.AbsoluteUrl("/search/?SelectedProductGroups=136#keywords=&sortBy=&page=&categoryId=&categoryName=&brand=&SelectedColours=&SelectedProductGroups=136&SortBy=undefined")">
                                                    <img style="border: none; display: block;" src="@UriExtensions.AbsoluteUrl("/_email/basket-abandonment/style-library/images/button-trimmings.gif")" border="0" width="98" height="33" alt="Trimmings"/>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" height="8">
                                                <span style="font-size: 0px; line-height: 0px;">&nbsp;</span></td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td>
                        <table width="588" cellspacing="0" border="0" cellpadding="0" align="center" style="color: #4c4c4c; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif, 'Helvetica Neue', Helvetica, sans-serif; padding: 0 0 10px 0;">
                            <tr>
                                <td>
                                    <h1 style="color: #4c4c4c; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif, 'Helvetica Neue', Helvetica, sans-serif; font-size: 14px; font-weight: normal; margin: 20px 0 20px 0; padding: 0;">Hi @Model.Person.FirstName</h1>

                                    <p style="font-size: 14px; margin: 0 0 15px 0; padding: 0;">We've noticed that you've left some items in your basket and we don't want you to miss out!</p>
                                    <p style="font-size: 14px; margin: 0 0 15px 0; padding: 0;">Below is a summary of the items you've selected. To complete your purchase, just click the 'buy now' button. </p>
                                    <p style="font-size: 14px; margin: 0 0 15px 0; padding: 0;">Happy shopping!</p>

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td>
                        <table cellspacing="0" cellpadding="10" style="border: 1px solid #6e6e6e; color: #4c4c4c; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif, 'Helvetica Neue', Helvetica, sans-serif; font-size: 14px; font-weight: normal; width: 586px;">
                            <tr style="width: 586px;">
                                <td width="120">&nbsp;</td>
                                <td width="186" valign="top">Description</td>
                                <td width="100" valign="top" align="center">Item price</td>
                                <td width="80" valign="top" align="center">Quantity</td>
                                <td width="100" valign="top" align="center">Total price</td>
                            </tr>
                            @foreach (var line in Model.Basket.BasketLines)
                            {
                                <tr style="width: 586px;">
                                    <td width="120" style="border-top: 1px solid #6e6e6e;">
                                        <img src="@UriExtensions.AbsoluteUrl(line.ImageUrl)" width="120" height="120" alt="@line.Product.DisplayName"/>
                                    </td>
                                    <td width="186" style="border-top: 1px solid #6e6e6e;">@line.Product.DisplayName</td>
                                    <td width="100" align="center" style="border-top: 1px solid #6e6e6e;">@Model.Basket.CurrencyRegion.RegionInfo.CurrencySymbol @line.UnitPriceInc.ToString("#0.00")</td>
                                    <td width="80" align="center" style="border-top: 1px solid #6e6e6e;">@line.Quantity</td>
                                    <td width="100" align="center" style="border-top: 1px solid #6e6e6e;">@Model.Basket.CurrencyRegion.RegionInfo.CurrencySymbol @line.TotalInc.ToString("#0.00")</td>
                                </tr>
                            }
                            <tr style="border-top: 1px solid #6e6e6e; width: 586px;">
                                <td width="360" colspan="3" style="border-top: 1px solid #6e6e6e;">&nbsp;</td>
                                <td width="126" align="right" style="border-top: 1px solid #6e6e6e;">Grand Total</td>
                                <td width="100" align="center" style="border-top: 1px solid #6e6e6e;">@Model.Basket.CurrencyRegion.RegionInfo.CurrencySymbol @Model.Basket.GrandTotal.ToString("#0.00")</td>
                            </tr>

                        </table>
                    </td>
                </tr>

                <tr>
                    <td>
                        <table cellspacing="0" cellpadding="0" style="width: 588px;">
                            <tr>
                                <td height="10">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="right">
                                    <a href="@UriExtensions.AbsoluteUrl("/basket/summary/?basketId=" + Model.CookieGuid)" style="text-decoration: none;">
                                        <img style="border: 0;" src="@UriExtensions.AbsoluteUrl("/_email/basket-abandonment/style-library/images/buy-now.gif")" width="92" height="26" border="0" alt="Buy now"/>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td height="20">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td align="center">
                        <table width="588" align="center" cellspacing="0" border="0" cellpadding="0">
                            <tr>
                                <td width="219">&nbsp;</td>
                                <td width="50" align="center">
                                    <a href="https://www.facebook.com/stylelibraryUSA">
                                        <img style="border: none; display: block;" src="@UriExtensions.AbsoluteUrl("/_email/basket-abandonment/style-library/images/icon-fb.gif")" border="0" height="30" width="30" alt="Facebook"/>
                                    </a>
                                </td>
                                <td width="50" align="center">
                                    <a href="https://twitter.com/StyleLibraryUSA">
                                        <img style="border: none; display: block;" src="@UriExtensions.AbsoluteUrl("/_email/basket-abandonment/style-library/images/icon-twitter.gif")" border="0" height="30" width="30" alt="Twitter"/>
                                    </a>
                                </td>
                                <td width="50" align="center">
                                    <a href="https://www.pinterest.com/stylelibrary">
                                        <img style="border: none; display: block;" src="@UriExtensions.AbsoluteUrl("/_email/basket-abandonment/style-library/images/icon-pinterest.gif")" border="0" height="30" width="30" alt="Pinterest"/>
                                    </a>
                                </td>
                                <td width="219">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>

            </table>
        </td>
    </tr>
</table>
</body>
</html>