
@using StackExchange.Profiling;
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        
        <meta name="title" content="@ViewBag.Title" />
        <meta name="description" content="@ViewBag.Metadata.MetaDescription" />
        <meta name="keywords" content="@ViewBag.Metadata.MetaKeywords" />

        <meta name="dc.title" content="@ViewBag.Title" />
        <meta name="dc.description" content="@ViewBag.Metadata.MetaDescription" />
        <meta name="dc.keywords" content="@ViewBag.Metadata.MetaKeywords" />

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        
        @Html.Raw(ViewBag.Metadata.CustomMetaTags)

        @Html.Raw(ViewBag.Metadata.AnalyticsCode)        

    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav role="navigation">
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>
        @Html.Action("Index", "DeepLinks", new { area = "" })
        @*@Html.BehaviourForm("CmsMain")*@
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
        @MiniProfiler.RenderIncludes()
    </body>
</html>
