@using Colony.CMS
@using Colony.CMS.Helpers
@using StackExchange.Profiling
@using WalkerGreenbank.Modules.PressMembers.Areas.B2BMembers

<div id="cookiePolicy">
    <a href="/privacy-policy/" title="Privacy policy">
        <h2>Privacy Policy & Cookies</h2>
    </a>
    <p>This website uses cookies to provide you with the best possible user experience. </p>
    <p>
        <a href="/privacy-policy/" title="Privacy Policy">Read more</a>
    </p>
    <a id="cookieClose" class="icon-remove" href="#">Close</a>
</div>
<footer>
    <div class="footerInner">
        <div class="footerContainer">
            @Html.Action("Index", "DeepLinks", new { area = "DeepLinks" })
            <ul class="footerList footerSocial">
                <li class="footerListTitle">Get Social</li>
                <p>Discover our latest products and be the first to receive exclusive inspiration and industry know-how!</p>

                <div class="inputButtonSplit" id="newsletterSubmissionFooter">
                    <input class="" type="text" placeholder="Email" id="emailForNewsletter">
                    <button class="actionButton fa-check" id="submitNewsletter"></button>
                </div>

                <ul class="iconGroup">
                    <a href="https://www.facebook.com/StyleLibraryHome/" target="_blank"><li class="fa-facebook"></li></a>
                    <a href="https://twitter.com/mystylelibrary" target="_blank"><li class="fa-twitter"></li></a>
                    <a href="https://www.pinterest.com/stylelibrary/" target="_blank"><li class="fa-pinterest"></li></a>
                    <a href="https://www.instagram.com/style.library/" target="_blank"><li class="fa-instagram"></li></a>
                    <!-- <li class="fa-snapchat-ghost"></li> -->
                </ul>
            </ul>
        </div>
        <div class="legalFooter">
            <div class="copyrightInfo legalInfo">
                <span class="flag-icon flag-icon-gb"></span>
                <div class="legalInfoContent">
                    United Kingdom &copy; @DateTime.Now.Year Style Library, All Rights Reserved.
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Country Selection Begin -->
<section class="reveal-modal medium" id="selectCountry"></section>
<!-- Find a retailer map-->
<div id="map_content">
    <a class="closeMaps button">Close Maps</a>
    <div id="map_canvas"></div>
</div>

@{ Html.RenderAction("BrandNavigation", "GlobalNavigation", new { area = "Homepages", isMobile = true }); }
@Html.Action("Footer", "Stockist", new { area = "Stockists" })
<script src="/_js/vendor/jquery-ui-ra-edit.min.js" type="text/javascript"></script>
@Scripts.Render("~/_js/Collectionsbundle")
<script src="/_js/brands/wg/scripts.js" type="text/javascript"></script>
@*   <script src="/_js/brands/wg/megamenu.js"></script>*@
<script src="/_js/brands/wg/slick.min.js" type="text/javascript"></script>

<script src="~/_js/brands/wg/WgMinBasket.js"></script>


@if (Request.Url.AbsolutePath == "/" && ViewContext.HttpContext.IsTablet())
{
    <script src="/_js/brands/wg/ipad.min.js" type="text/javascript"></script>
}
else if (Request.Url.AbsolutePath == "/" && !ViewContext.HttpContext.IsMobile())
{
    <script src="/_js/brands/wg/desktop.min.js" type="text/javascript"></script>
}
@*<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js" type="text/javascript"></script>*@
@if (B2BCheckoutService.IsB2BUserLoggedIn(new HttpContextWrapper(HttpContext.Current)))
{
    <script src="~/_js/shared/b2b.js?v=3"></script>
}
@if (HttpContext.Current.IsDebuggingEnabled)
{
    @MiniProfiler.RenderIncludes()
}
<script type="text/javascript">
    $(document).foundation();

    $(document).ready(function() {
        $(".closeMaps").click(function() {
            $("#whereToBuy").hide();
        });
        if (userLocation = 93) {
            $(".exclusiveTag").hide();
        } else {
            $(".exclusiveTag").show();
        }
    });
</script>

@*<script type="text/javascript">
    var MTIProjectId = '12f9cc66-8fc6-40a3-bd8a-050837a8d95b';
    (function() {
        var mtiTracking = document.createElement('script');
        mtiTracking.type = 'text/javascript';
        mtiTracking.async = 'true';
        mtiTracking.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//fast.fonts.net/t/trackingCode.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mtiTracking);
    })();
</script>*@
<script type="text/javascript">
    if (navigator.userAgent.indexOf('Mac OS X') != -1) {
        document.write('<link rel="stylesheet" type="text/css" href="/_css/brands/mac.css" />');
    }
</script>

<!-- uitotop plugin -->
<script type="text/javascript">
    $(document).ready(function() {
        /*
        var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
        };
        */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>

@Html.Partial("~/Templates/_TimeTravelNotice.cshtml")
@Html.Hidden("SiteKey", ColonyContext.Current.CurrentSite.SiteKey, new { id = "SiteKey" })
