@model Colony.Commerce.Areas.ShopPurchase.Models.DeliveryGroupViewModel
<input type="hidden" name="@("deliveryGroups[" + Model.TransactionDeliveryId + "].TransactionDeliveryId")" value="@Model.TransactionDeliveryId" />
<input type="hidden" name="@("deliveryGroups.index")" value="@Model.TransactionDeliveryId" />
@Html.CustomStyledValidationMessageFor(model => model.DeliveryMethod)
@if (Model.DeliveryOptions.Any())
{
    var selected = false;
    <fieldset class="deliveryOptions">
        @*<p>
            FREE Delivery on Cushion orders over £100
        </p>*@
            @foreach (var deliveryOption in Model.DeliveryOptions)
            {
                <div class="section tickbox">
                    @{ var radioButtonId = "deliveryGroups_" + Model.TransactionDeliveryId + "___" + deliveryOption.Id; }

                    @if (deliveryOption.IsFreeDelivery)
                    {
                        <input @(!selected ? "checked='true'" : "") data-val="true" data-val-number="The field DeliveryMethod must be a number." data-delivery-price="0"
                               id="@("deliveryGroups_" + Model.TransactionDeliveryId + "___" + deliveryOption.Id)"
                               name="@("deliveryGroups[" + Model.TransactionDeliveryId + "].DeliveryMethod")" type="radio" value="@deliveryOption.Id">
                        selected = true;
                    }
                    else
                    {
                        <input @(!selected ? "checked='true'" : "") data-val="true" data-val-number="The field DeliveryMethod must be a number." data-delivery-price="@deliveryOption.Price"
                               id="@("deliveryGroups_" + Model.TransactionDeliveryId + "___" + deliveryOption.Id)"
                               name="@("deliveryGroups[" + Model.TransactionDeliveryId + "].DeliveryMethod")" type="radio" value="@deliveryOption.Id">
                        selected = true;
                    }

                    @{
                        var labelText = "";
                        var labelCuttOff = "";
                        if (deliveryOption.Id == 1)
                        {
                            var today = DateTime.Today.DayOfWeek;
                            var delDay = "";

                            if (DateTime.Now.Hour >= 14)
                            {
                                if (today >= DayOfWeek.Thursday)
                                {
                                    labelCuttOff = " <span>Your order will be delivered on Monday</span>";
                                }
                                else
                                {
                                    var delDays = DateTime.Now.DayOfWeek + 2;
                                    labelCuttOff = " <span>(Your order will be delivered on " + delDays + ")</span>";
                                }
                            }
                            else
                            {
                                labelCuttOff = " <span>(Order before 2pm for next working day delivery)</span>";
                            }
                        }
                        else
                        {
                            labelCuttOff = "";
                        }
                        if (deliveryOption.Id == 2)
                        {
                            if (DateTime.Now.Hour >= 14)
                            {
                                var today = DateTime.Today.DayOfWeek;
                                if (today >= DayOfWeek.Friday && today < DayOfWeek.Sunday)
                                {
                                    labelCuttOff = " <span> (Your order will be delivered next Sat)</span>";
                                }
                                else
                                {
                                    labelCuttOff = " <span> (Order by 2pm Friday for delivery this Saturday)</span>";
                                }
                            }
                        }
                        if (deliveryOption.IsSplitDeliveryCharge)
                        {
                            labelText = string.Format("<span><span class=\"confirmation-color\"><strong>{0}{1}</strong> Split delivery discount</span> {2}</span>",
                                Model.RegionInfo.CurrencySymbol,
                                deliveryOption.Price.ToString("#0.00"),
                                deliveryOption.Name);
                        }
                        else
                        {
                            if (deliveryOption.IsFreeDelivery)
                            {
                                labelText = string.Format("<span>Free {0}</span>", deliveryOption.Name) + labelCuttOff;
                            }
                            else
                            {
                                labelText = string.Format("<span>{0}{1} {2}</span>",
                                    Model.RegionInfo.CurrencySymbol,
                                    deliveryOption.Price.ToString("#0.00"),
                                    deliveryOption.Name) + labelCuttOff;
                            }
                        }
                    }
                    <label for="@radioButtonId" class="register">
                        @Html.Raw(labelText)
                    </label>
                </div>
                        }
    </fieldset>
                        }
                        else
                        {
                            <div class="alertInfo message">
                                Unfortunately we are unable to deliver these products to your chosen delivery address.
                                Please either <a href="/basket/summary/">remove these products</a> from your basket or <a href="/checkout/?edit=delivery">change the delivery address</a>.
                            </div>
                        }