@using Colony.CMS
@model Colony.Commerce.Areas.ShopPurchase.Models.DeliveryAddressViewModel
@{
    Layout = "";
}

<form id="addAddressForm" action="@Url.Action("NewAddress", "Checkout", new {area = "ShopPurchase"})" method="post">

    @Html.AntiForgeryToken()
    <a name="addressbox"></a>
    <fieldset id="newDeliveryAddress" class="new-address callout secondary callout-form">
        @*<h3 data-editaddress-title="true">
                Add a new delivery address
            </h3>*@

        @if (Model.CanBeHidden)
        {

            <div class="button level4">
                <a href="#" id="hideDeliveryAddress" data-showaddress="false" class="inner fa-times"></a>
            </div>

        }

        <h3 data-editaddress-title="true">Add a new delivery address</h3>
        @{
            if (Model.IsGuest)
            {
                Model.Address.Description = "Default delivery address";
            }
        }

        @Html.EditorFor(m => m.Address.Description)

        @Html.EditorFor(m => m.Address.Postcode)

        <div class="section">
            <div class="button level2 wide1">
                <a href="@Url.Action("Lookup", "Address", new {Area = "CRM"})" class="inner fa-map-marker" id="findAddress"> Find Address</a>
            </div>
        </div>

        <div id="addressSelection" style="display: none;">
            <div class="section">
                <label for="selectAddress">
                    Select address
                </label>
                <select name="SelectAddress" id="selectAddress" data-callbackurl="@Url.Action("RetrieveSelectedAddress", "Address", new {area = "CRM"})"></select>
            </div>
        </div>

        @Html.EditorFor(m => m.Address.Line1)

        @Html.EditorFor(m => m.Address.Town)

        @Html.EditorFor(m => m.Address.County)

        <div class="alertInfo error" id="findAddressError" style="display: none;">There was a problem looking up your post code, please enter your address manually.</div>

        <div class="section">
            <div class="button level1 wide1">
                <input type="submit" data-button="add" class="inner" value="Add address">
            </div>
        </div>

        @Html.Hidden("Address.FirstName", "name")
        @Html.Hidden("Address.LastName", "name")
        @Html.Hidden("Address.Title", "name")
        @Html.Hidden("Address.CountryISO2", "name")
        @Html.HiddenFor(m => m.Address.AddressId)
    </fieldset>

</form>
