@model Colony.Modules.PressReleases.Areas.Models.ListRootItemsViewModel

<div id="content">
    @if (!Model.PressReleaseCategories.Any())
    {
@*<div class="alertInfo message">
			<strong class="icon"></strong>
			There are no press releases in this category
		</div>*@
    }
    else
    {
        <h1>Press Releases</h1>

        <section class="categorySection releases">
            <h2>Categories</h2>
            <ul class="categoryList">
                @foreach (var item in Model.PressReleaseCategories)
                {
                    <li>
                        <article>
                            <a href="@Url.SanitiseUrl(ViewBag.BaseUrl as string, item.Uri)" class="thumbnail">
                                <img src="@Url.ImageUrl(item.ImageAssetId, "PressReleases", "CategoryThumbnail", @"/_images/placeholders/categoryList.jpg")" alt="@item.Name">
                            </a>
                            <div class="details">
                                <h3>
                                    <a href="@item.Uri">@item.Name</a>
                                </h3>
                                <p>@item.ShortDescription</p>
                            </div>
                        </article>
                    </li>
                }
            </ul>
        </section>
    }
    @if (Model.PressReleases.Any())
    {
        <section class="moduleSection">
            <h1>Press Releases</h1>
            @{
                Html.RenderPaging(Model.PressReleases, "items", "sortOptions", pagesToDisplay: 3, showAll: true, allowChangePageSize: true);
            }
            <ul class="articleList">
                @foreach (var item in Model.PressReleases.OrderByDescending(x => x.PublishStart ?? x.Created))
                {
                    <li>
                        <article class="media">
                            <span class="thumbnail img">
								<img src="@Url.ImageUrl(item.ImageAssetId, "PressReleases", "PressReleaseThumbnailPortrait", @"/_images/placeholders/categoryList.jpg")" alt="@item.Name"></span>
                            <div class="details bd">
                                <header>
                                    <h3>@item.Name</h3>
                                    <dl>
                                        <dt>Date</dt>
                                        <dd>
                                            <time datetime="@((item.PublishStart ?? item.Created).Value.ToString("yyyy-MM-ddTHH:mm:ss.fffffffzzz"))">@((item.PublishStart ?? item.Created).Value.ToString("dd MMMM yyyy"))</time>
                                        </dd>
                                    </dl>
                                </header>
                                @Html.Raw(item.LongDescription)
                                @if (item.Files.Any())
                                {
                                    <div class="downloadFile">
                                        <div class="splitButton">
                                            @{
                                                var firstFile = item.Files.OrderBy(x => x.Order).First();
                                            }
                                            <a href="@Url.Action("Download", "File", new {area = "Assets", fileGuid = firstFile.FileGuid})" class="button">@firstFile.Name</a>
                                            @if (item.Files.Count() > 1)
                                            {
                                                <a href="#" class="button dropdownToggle" data-dropdown="pressDownload_1">
                                                    <span>Other</span></a>
                                                <ul id="pressDownload_1" class="f-dropdown" data-dropdown-content="" style="left: -99999px;">
                                                    @foreach (var file in item.Files.OrderBy(x => x.Order).Skip(1))
                                                    {
                                                        <li>
                                                            <a href="@Url.Action("Download", "File", new {area = "Assets", fileGuid = file.FileGuid})">@file.Name</a>
                                                        </li>
                                                    }
                                                </ul>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </article>
                    </li>
                }
            </ul>
            @{
                Html.RenderPaging(Model.PressReleases, "items", "sortOptions", pagesToDisplay: 3, showAll: true, allowChangePageSize: true);
            }
        </section>
    }
</div>