@using Colony.CMS
@model WalkerGreenbank.Modules.PressMembers.Areas.B2BMembers.Models.B2BRegisterInterestViewModel


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <!--#include virtual="/_includes/shared/global.asp" -->
    <title>B2B - Register Interest</title>
    <meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type"/>
</head>
<body>
<h2>A user has registered their interest in becoming a B2B member.</h2>

<table>
    <tbody>
    <tr>
        <td style="font-weight: bold">Company Name</td>
        <td>@Model.CompanyName</td>
    </tr>
    <tr>
        <td style="font-weight: bold">Customer Number</td>
        <td>@Model.CustomerNumber</td>
    </tr>
    <tr>
        <td style="font-weight: bold">Contact Name</td>
        <td>@Model.Person.Title @Model.Person.FirstName @Model.Person.LastName</td>
    </tr>
    <tr>
        <td style="font-weight: bold">Contact Email</td>
        <td>@Model.Person.Email</td>
    </tr>
    <tr>
        <td style="font-weight: bold">Contact Phone no.</td>
        <td>@Model.PhoneNumber</td>
    </tr>
    <tr>
        <td style="font-weight: bold">Site</td>
        <td>@ColonyContext.Current.CurrentSite.Name</td>
    </tr>
    </tbody>
</table>
</body>
</html>