@using Colony.Models.Core.Sites
@using Colony.CMS.Helpers
@model WalkerGreenbank.Modules.PressMembers.Models.PressRegistrationConfirmationViewModel
@{
    setStyles(Model.Site);
}
@functions {

    string email_bodyBackground = "#fff";
    string email_background = "#fff";
    string email_footerBackground = "#5b6e52";
    string email_boxBackground = "#f7f7f7";
    string email_border = "1px solid #cccccc";

    string email_fontFamily = "Arial,Helvetica,sans-serif";
    string email_headerColor = "#000";
    string email_linkColor = "#111";
    string email_fontColor = "#000";
    string email_footerColor = "#e6e6e6";
    string email_footerLinks = "#666";

    string email_sizeHeader = "12px";
    string email_sizeSubhead = "14px";
    string email_sizeNormal = "12px";
    string email_sizeSmall = "11px";

    void setStyles(Site site)
    {
        if (site.SiteKey == "Harlequin")
        {
            email_bodyBackground = "#fff";
            email_background = "#fff";
            email_footerBackground = "#cccbcb";
            email_boxBackground = "#f7f7f7";
            email_border = "1px solid #cccccc";

            email_fontFamily = "Arial,Helvetica,sans-serif";
            email_headerColor = "#2d2d2d";
            email_linkColor = "#858585";
            email_fontColor = "#2d2d2d";
            email_footerColor = "#2d2d2d";
            email_footerLinks = "#666";

            email_sizeHeader = "12px";
            email_sizeSubhead = "14px";
            email_sizeNormal = "12px";
            email_sizeSmall = "11px";
        }
        else if (site.SiteKey == "Sanderson")
        {
            email_bodyBackground = "#fff";
            email_background = "#fff";
            email_footerBackground = "#cccbcb";
            email_boxBackground = "#f7f7f7";
            email_border = "1px solid #cccccc";

            email_fontFamily = "Arial,Helvetica,sans-serif";
            email_headerColor = "#2d2d2d";
            email_linkColor = "#858585";
            email_fontColor = "#2d2d2d";
            email_footerColor = "#2d2d2d";
            email_footerLinks = "#666";

            email_sizeHeader = "12px";
            email_sizeSubhead = "14px";
            email_sizeNormal = "12px";
        }
        else if (site.SiteKey == "Morris")
        {
            email_bodyBackground = "#fff";
            email_background = "#fff";
            email_footerBackground = "#5b6e52";
            email_boxBackground = "#f7f7f7";
            email_border = "1px solid #cccccc";

            email_fontFamily = "Arial,Helvetica,sans-serif";
            email_headerColor = "#000";
            email_linkColor = "#111";
            email_fontColor = "#000";
            email_footerColor = "#e6e6e6";
            email_footerLinks = "#666";

            email_sizeHeader = "12px";
            email_sizeSubhead = "14px";
            email_sizeNormal = "12px";
            email_sizeSmall = "11px";
        }
        else if (site.SiteKey == "Zoffany")
        {
            email_bodyBackground = "#fff";
            email_background = "#fff";
            email_footerBackground = "#555";
            email_boxBackground = "#f7f7f7";
            email_border = "1px solid #cccccc";

            email_fontFamily = "Arial,Helvetica,sans-serif";
            email_headerColor = "#666";
            email_linkColor = "#666";
            email_fontColor = "#666";
            email_footerColor = "#bfbfbf";
            email_footerLinks = "#666";

            email_sizeHeader = "12px";
            email_sizeSubhead = "14px";
            email_sizeNormal = "12px";
            email_sizeSmall = "11px";
        }
        else if (site.SiteKey == "Scion")
        {
            email_bodyBackground = "#fff";
            email_background = "#fff";
            email_footerBackground = "#cccbcb";
            email_boxBackground = "#f7f7f7";
            email_border = "1px solid #cccccc";

            email_fontFamily = "Arial,Helvetica,sans-serif";
            email_headerColor = "#666";
            email_linkColor = "#666";
            email_fontColor = "#666";
            email_footerColor = "#666";
            email_footerLinks = "#666";

            email_sizeHeader = "12px";
            email_sizeSubhead = "14px";
            email_sizeNormal = "12px";
            email_sizeSmall = "11px";
        }
    }

}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <!--#include virtual="/_includes/shared/global.asp" -->
    <title>@Model.Site.Name Activate Account</title>
    <meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type"/>
</head>
<body marginheight="0" topmargin="0" marginwidth="0" leftmargin="0" bgcolor="@email_bodyBackground">
<table cellspacing="0" border="0" style="background: @email_bodyBackground;" cellpadding="0" width="100%">
    <tr>
        <td>
            <table width="550" cellspacing="0" border="0" cellpadding="0" align="center" style="background: @email_background; margin-bottom: 20px; margin-top: 20px;">

                <!-- Header -->
                <tr>
                    <td>
                        <table width="550" cellspacing="0" border="0" cellpadding="0" align="center">
                            <tr>
                                <td style="border-left: @email_border; border-right: @email_border; border-top: @email_border;">
                                    <img style="border: none; display: block;" src="@Model.Site.AbsoluteUrlForSite("/_images/email/" + Model.Site.SiteKey)/header.gif" border="0" height="102" width="548" alt="@Model.Site.Name"/>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <!-- Content -->

                <tr>
                    <td style="border-left: @email_border; border-right: @email_border;">
                        <table width="508" cellspacing="0" border="0" cellpadding="0" align="center" style="color: @email_fontColor; font-family: @email_fontFamily; font-size: @email_sizeNormal; padding: 0 0 10px 0;">
                            <tr>
                                <td>
                                    <h1 style="color: @email_headerColor !important; font-family: @email_fontFamily; font-size: @email_sizeHeader; font-weight: normal; margin: 20px 0 20px 0; padding: 0;">
                                        Dear @Model.UserAccount.FirstName @Model.UserAccount.LastName</h1>
                                    <p style="font-size: @email_sizeNormal; margin: 0 0 20px 0; padding: 0;">
                                        We are pleased to inform you that your press account has been successfully verified.
                                    </p>
                                    <p style="font-size: @email_sizeNormal; margin: 0 0 20px 0; padding: 0;">
                                        Please click <a style="color: @email_linkColor;" href="@Model.Site.AbsoluteUrlForSite("/press-members/login/?returnUrl=%2F")">here</a> to log in.
                                    </p>

                                    <p style="font-size: @email_sizeNormal; margin: 0 0 20px 0; padding: 0;">
                                        Many thanks.
                                        <br/>The @Model.Site.Name Marketing Team
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <!-- Footer -->
                <tr>
                    <td>
                        <table width="550" cellspacing="0" border="0" cellpadding="0" align="center" style="background: @email_footerBackground; color: @email_footerColor; font-family: @email_fontFamily; font-size: @email_sizeSmall;">
                            <tr>
                                <td style="padding: 15px 20px;" align="center">
                                    &copy; <span style="text-transform: capitalize">@Model.Site.Name</span>. All Rights Reserved @DateTime.UtcNow.Year
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="550" cellspacing="0" border="0" cellpadding="10" align="center" style="background: @email_bodyBackground; font-family: @email_fontFamily; font-size: @email_sizeSmall;">
                            <tr>
                                <td align="left">
                                    <a href="@Model.Site.AbsoluteUrlForSite("/privacy-policy/")" style="color: @email_footerLinks;">Privacy policy</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>