@model WalkerGreenbank.Modules.PressMembers.Areas.B2BMembers.Models.B2BLoginInputViewModel

@{
    ViewBag.Title = "Business Login";
    Layout = "";
}
<div id="content">

<nav class="tabs" role="navigation">
    <h2>Select a login method</h2>
    <ul>
        <li>
            <a href="/members/login?returnUrl=@Request["returnUrl"]">Customer Login</a>
        </li>
        <li>
            <a href="/b2b-members/login?returnUrl=@Request["returnUrl"]" class="selected">Business Login</a>
        </li>
        <li>
            <a href="/trade-members/login/?returnUrl=@Request["returnUrl"]">Trade Login</a>
        </li>
    </ul>
</nav>
<h1>@ViewBag.Title</h1>

<p>
    If you already have an account then please use the login form below to log into the Trade area.
    If you do not already have an account then you may register your interest, using the form on the right.
</p>
<div class="loginOrRegister">
    <section class="boxSection login">
        <header>
            <h2>Sign in</h2>
        </header>
        <div class="bd">
            <div class="contentForm">

                @using (Html.BeginForm("Login", "B2BAuthentication", new {area = "B2BMembers", returnUrl = ViewBag.ReturnUrl}, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.CustomValidationSummary(true)
                    <fieldset>
                        <legend>Login Form</legend>

                        @Html.EditorFor(t => t.LoginId)

                        @Html.EditorFor(m => m.Password)

                    </fieldset>
                    <div class="field formControls">
                        <button class="button">Log in</button>
                    </div>
                }
            </div>
        </div>
    </section>
    <section class="boxSection register">
        <header>
            <h2>Register</h2>
        </header>
        <div class="bd">
            <p>If you do not already have an account then you may register your interest.</p>

            <p class="continue">
                @*@Html.ActionLink("Register", "Register", "Register", new { area = "PressMembers" }, new { @class = "button" })*@
                <a href="@Url.Action("B2BRegisterInterest", "Enquiries", new {area = "B2BMembers"})" class="button">Register your interest</a>
            </p>
        </div>
    </section>
</div>