<meta http-equiv="refresh" content="1; url=https://www.stylelibrary.com/harlequin/">
<script type="text/javascript">
    window.location.href = "https://www.stylelibrary.com/harlequin/"
</script>
<script>
    var dataLayer = [];
    (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(),
            event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-MJS7V7');

</script>

<meta charset="utf-8" />
<title>@(Html.GetPageData().WindowTitle ?? Colony.CMS.ColonyContext.Current.CurrentSite.WindowTitle ?? ViewBag.Title)</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="title" content="@(Html.GetPageData().WindowTitle ?? Colony.CMS.ColonyContext.Current.CurrentSite.WindowTitle ?? ViewBag.Title)" />
<meta name="description" content="@(Html.GetPageData().MetaDescription ?? Colony.CMS.ColonyContext.Current.CurrentSite.MetaDescription)" />
<meta name="keywords" content="@(Html.GetPageData().MetaKeywords ?? Colony.CMS.ColonyContext.Current.CurrentSite.MetaKeywords)" />
<meta name="dc.title" content="@(Html.GetPageData().WindowTitle ?? Colony.CMS.ColonyContext.Current.CurrentSite.WindowTitle ?? ViewBag.Title)" />
<meta name="dc.description" content="@(Html.GetPageData().MetaDescription ?? Colony.CMS.ColonyContext.Current.CurrentSite.MetaDescription)" />
<meta name="dc.keywords" content="@(Html.GetPageData().MetaKeywords ?? Colony.CMS.ColonyContext.Current.CurrentSite.MetaKeywords)" />
<link href="/_images/favicon/scion/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link rel="apple-touch-icon-precomposed" href="/_images/app-icons/scion/apple-touch-icon.png">
@Styles.Render("~/_css/scion")
<!--[if IE]>
	<link rel="stylesheet" href="/_css/framework/ie_fixes.css" />
<![endif]-->
<link rel="stylesheet" type="text/css" href="/_css/brands/scion/custom.css?v=3" />
<link rel="stylesheet" href="/_css/print.css" media="print" />
<link rel="stylesheet" href="/_css/brands/scion/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css" href="/_css/allcustom.css?v=3" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/_js/vendor/jquery-ui-ra-edit.js" type="text/javascript"></script>
<script src="/_js/vendor/custom.modernizr.min.js" type="text/javascript"></script>
<script src="/_js/brands/scion/jquery.fullPage.js" type="text/javascript"></script>
<script src="https://ai.celebros-analytics.com/widgets/CelebrosToolbox.js" type="text/javascript"></script>
<!--[if lt IE 9]>
<script src="/_js/shared/selectivizr-min.js" type="text/javascript"></script>
<script src="/_js/shared/ie8.js" type="text/javascript"></script><![endif]-->
<!-- Custom Meta-tags -->
@Html.Raw(Html.GetPageData().CustomMetaTags)
<!-- Custom Meta-tags ends -->
<!-- Analytics code -->
@Html.Raw(Html.GetPageData().AnalyticsCode)
<!-- Analytics code ends -->
