@model WalkerGreenbank.Modules.PressMembers.Areas.PressMembers.ViewModels.PressRegisterInputViewModel
@{
    ViewBag.Title = "Press Registration";
}
<script type="text/javascript">
    $('#container').addClass('medium');
</script>
<div id="content">
    <h1>@ViewBag.Title</h1>

    <div class="contentForm">
        <form method="post">
            @Html.AntiForgeryToken()
            @Html.CustomValidationSummary()
            <fieldset>
                <legend>Registration Form</legend>
                <h2>Create a new account.</h2>
                @Html.EditorFor(m => m.Publication, new {size = "medium"})
                @Html.EditorFor(m => m.JobRole, new {size = "medium"})
                @Html.EditorFor(m => m.Website, new {size = "medium"})
                @Html.EditorFor(m => m.Blog, new {size = "medium"})

                @Html.EditorFor(m => m.Person.Title, new {size = "medium"})
                @Html.EditorFor(m => m.Person.FirstName, new {size = "medium"})
                @Html.EditorFor(m => m.Person.LastName, new {size = "medium"})

                @{ Html.RenderPartial("~/Views/Address/_Address.cshtml", Model.Address, new ViewDataDictionary {{"ShowPersonDetails", false}, {"ShowAddressName", false}}); }
                @Html.EditorFor(m => m.Person.PhoneNumber, new {size = "medium"})

                @Html.EditorFor(m => m.Email, new {size = "medium"})
                @Html.EditorFor(m => m.ConfirmEmail, new {size = "medium"})

                <!--@Html.EditorFor(m => m.Person.DateofBirth)
                @Html.EditorFor(m => m.Person.TwitterHandle)-->
                @Html.EditorFor(m => m.Password, new {size = "medium"})
                @Html.EditorFor(m => m.ConfirmPassword, new {size = "medium"})
                <!--
                @Html.EditorFor(m => m.Person.AllowMarketing, new {labelText = "I'm happy to receive mareketing/promotional material from harlequin"})
                @Html.EditorFor(m => m.Person.AllowThirdParty)
                @Html.EditorFor(m => m.Person.Newsletter)
                -->

                @Html.EditorFor(m => m.AcceptTermsAndConditions, new {labelText = "<span>I accept <a href=\"/privacy-policy/\">Privacy Policy</a> and <a href=\"/privacy-policy/\">Cookie Policy</a></span>"})
                @Html.Partial("_ReCaptcha")
                <div class="field formControls">
                    <button class="button">Register</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>